@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');



body{
    background-image: url('../static/images/short.jpg');
    background-repeat: no-repeat;
    margin: 0;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   color: rgb(78, 78, 78);
   transition: background-color 0.3s;
   font-family: 'Josefin Sans', sans-serif;
   
}

html {
  font-family: sans-serif;
  margin: 0;
}

#toggle-btn {
  padding: 0.5em;
  background: transparent;
  border: 2px solid #74abee;
  border-radius: 10px;
  color:#E06C9F; 
  }

#toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dark-mode-theme {
  background: linear-gradient(to top, rgba(255,0,0,0), #002855);
  color: #fff;
}

a{
    
    font-weight: 300; 
    letter-spacing: 2px; 
    text-decoration: none; 
    font-size: 25px;
    padding: 20px 5px; 
    margin: 10px;
    color: #E06C9F; 
}
a:hover{
    color: rgb(241, 159, 35);
    
}
a:active{
  color: rgb(201, 132, 28);
}
.navbar {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content:space-around;
  margin-right: 10px;
    /* background-color: #333; */
  }

.navbar .icon {
    display: none;
  }
.container{

  margin-left: 15%;
  margin-right: 30%;
  margin-top: 15%; 
  text-align: justify;
}
.container:after{
  content: "";
  display: inline-block;
  width: 100%;

}
.about{
  font-size: larger;
  font-size: 25px;
  padding-top: 30px;
  width: 40rem;
  
  }
  .about2{
  
  font-size: 25px;
  padding-top: 30px;
  width: 30rem;
  }
.dev{
  
  font-size: 25px;
  padding-top: 30px;
  width: 40rem;
  }
.hello{
  font-size: 6.5rem;
  font-family: 'Montserrat Alternates', sans-serif;  
  }
#hello_id{
    /* font-size: 7rem; */
    /* letter-spacing: 10px; */
    /* padding-left: -100px; */
  }
 
.Iam{
    font-size: 35px; 
  }
span{
  font-size: 35px;
   letter-spacing: 3px;
  }
.junior{
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  font-family: 'Josefin Sans', sans-serif;
  }

.cn{
  border-radius: 10px;
  width: 40px;
  height: 40px;
  float: right;
  }
.cn:hover{
  box-shadow:  0 6px 10px 0 #8f8f8f;

}
.sda{
    border-radius: 10px;
  }
.l2{
  width: 12rem;
  border-radius: 15px;
  margin: 10px 20px 5px 5px;
  box-shadow:  0 6px 20px 0 #999999;
  }

.cv{
  display: flex;
  font-family: 'Titillium Web', sans-serif;
  background: transparent;
  width: 7rem;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: rgb(244, 238, 238);
  border: 2px solid rgb(245, 242, 242);
  letter-spacing: 2px;
  
  position: relative;
  transition: all .35s;
  border-radius: 10px;
  margin-bottom:20rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  margin-left: 75%;
 
}
.space{
  margin-bottom:20rem;
}

.cv:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #f3eeef8b;
  transition: all .35s;
  border-radius: 15px;
}

.cv:hover{
  color: #fff;
  border-radius: 15px;
}

.cv:hover:after{
  width: 100%;
  border-radius: 15px;
}
 
.master{
  font-family: 'Titillium Web', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif,monospace; */
  font-size: 20px;
  width:19rem;
  padding: 1rem 0 0 ;
  border: solid;
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  box-shadow:  0 6px 20px 0 #999999;
}
.master:hover{
  box-shadow:  0 6px 20px 0 #d3d2d2;
}
.date{
  font-size: 1rem;
  padding-bottom: 1rem;
  font-family: 'Titillium Web', sans-serif;
}
.big{
  width:25rem;
}
.box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  }
.title{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 18rem;}

.second{
  width: 20%;

}
    
  
.one{
  margin-top: 10px;
  }
.box2{
  margin-top: 20%;
  padding-bottom: 400px;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  }
.certificates{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 8rem;
    /* box-shadow:  0 6px 20px 0 #999999; */
  border-radius: 10px;
  padding-bottom: 100px;
  margin: 0;

}
 


svg text {
 
  position: static;
  letter-spacing: 3px;
  stroke: #ffffff;
  /* font-size: 200px; */
  /* font-weight: 900; */
  stroke-width: 3;
  animation: textAnimate 5s infinite alternate ;
  /* animation-iteration-count: 1; */
  
}

svg{
  position: relative;
  margin-left: -15%;
  /* padding: 0; */
  width: 100%;
}


@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 90%;
    stroke-dashoffset:  10%;
    fill:hsl(189, 68%, 75%)

  }
  
  100% {
    stroke-dasharray: 90% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(189, 68%, 75%,0%)
  }
  
}


  /* .selfie{
  margin-right: 5%;
  height: 500px;
  width: 400px;
  padding:100px;
   float: right;
   margin-top: -15%;
   filter: drop-shadow(10px 10px 10px #ffacc5);
  
   } */

  /* .dark-mode{
  background-repeat: no-repeat;
  
    
 
   margin: 0;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: rgb(245, 239, 239);
  
  background-color: transparent;
  transition:1s;
  
    
  } */
  

  .contact{
    width: 10rem;
    height: 10rem;
    /* filter: drop-shadow(10px 1px 15px #858383); */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    animation: jump 1.5s ;
    padding: 1rem;
    
  }
  @keyframes jump {
    0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    50% { transform: translate(-50%, -150%) scale(1, 1); }
    55% { transform: translate(-50%, -150%) rotate(15deg); }
    60% { transform: translate(-50%, -150%) rotate(-15deg); }
    65% { transform: translate(-50%, -150%) rotate(15deg); }
    /* 75% { transform: translate(-50%, -150%) rotate(-30deg); } */
    90% { transform: translate(-50%, -150%) rotate(-15deg); }
    100% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
}
.contact:hover{
    background-color: transparent; 
    width: 11rem;
    height: 10rem;
    transition: 0.2s;
    /* transform: translateY(0.5px); */

  }
  footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  
  @media screen and (max-width: 780px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
      
    }
  }
.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 20rem;
  column-gap: 3rem;
  row-gap: 2rem;
  /* width: 50rem; */
  margin: auto;
  width: 40%;
  margin-top: 5rem;
  padding-bottom: 10rem;

}
.project{
  font-size: 1.3rem;
  background: transparent;
  background: linear-gradient(to right, #a9d6e5, rgba(134, 243, 251, 0));
  opacity: 0.8;
  border-radius: 10px;
  padding: 1rem;
  height: 13rem;
  font-family: 'Titillium Web', sans-serif;
  
}
.shot{
  width: 20rem;
  height: 15rem;
  border-radius: 10px;
  box-shadow:  0 6px 6px 0 #888888;

}
.shot:hover{
  box-shadow:  0 6px 20px 0 #d3d2d2;
}
.code{
  color:rgb(78, 78, 78);
  margin-left: -6px;
  padding-top: 20px;
}
.error{
  display: flex;
 justify-content: center;
/* padding-top: 10rem; */
}
.space2{
  padding-bottom: 40rem;
}



  
  @media screen and (max-width: 780px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      /* position: absolute; */
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
     
      float: none;
      display: block;
      text-align: left;
      
    }

    .container{
      display: flex;
     flex-wrap: wrap;
     align-items: center;
          

    }
    .box2{
      display: flex;
  flex-direction: column;
      margin-left: 50%;
    }
    /* .hello{ */
      /* font-size: 1.5rem;
      font-family: 'Spartan', sans-serif;
    } */
    .selfie{
      margin-left: -50px;
    }
    .hello{
      font-size: 3rem;
    }
    #hello_id{
      font-size: 4.5rem;
    }
   .wrapper{
     /* display: flex; */
    margin: 7%;
   }
   .wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);

   }
   .cv{
     margin-left: 55%;
   }
   svg{
     margin-left: 5%;

   }
    
  }


@media (max-width: 390px) {
   
} 