{% extends 'base.html' %}

{% block title %}
Experience

{% endblock %}

{% block content %}
<div class="box">
  
<div class="master first">
<div class="title">Innovate Coding<a href="https://wearecodenation.com/individual/innovate/coding" target="_blank"><img  class="cn"src="../static/images/cn.png"></a></div>
<div>Mar 2022 - Apr 2022</div>
<div>Python</div>
<div>Flask</div>
<div>Bootstrap</div> 
</div>
<div class="master first">
<div class="title"> Master Course  <a href="https://wearecodenation.com/individual/master" target="_blank">
    <img  class="cn"src="../static/images/cn.png"></a></div>
<div>Aug 2021 - Jan 2022</div>
<div>JavaScript</div>
 <div>React</div>
 <div>Node.js</div>
 <div>MySQL and MongoDB</div>
 <div>Full stack web application development</div>
 <div>Working in an Agile environment with Kanban & Trello</div></div>
 
 <div class="master first">
<div class="title ">Develop Course <a href="https://wearecodenation.com/individual/develop/coding" target="_blank"><img  class="cn"src="../static/images/cn.png"></a></div>
<div>Aug 2021 - Sep 2021</div>
<div>The fundamentals of coding with Python</div>
<div>HTML and CSS</div> 
<div>Visual Studio Code, Slack, GitHub, Trello and agile principles</div></div>
    



<div class="master first">
<div class="title">Java SDA  <a href="https://sdacademy.pl/kursy/java/" target="_blank"><img  class="cn"src="../static/images/sda.jpeg"></a></div>
    <div>May 2021 - Aug 2021</div>
 
    <div>Java basic, Java advanced</div>
    <div>Software engineering, software testing</div>
    <div>SQL</div>
    <div>JDBC & Hibernate</div>
    <div>HTML, CSS & JavaScript # Spring Framework</div>
    <div>Agile and Waterfall</div>

</div>
</div>
<!-- <button onclick="resetImg()">Reset</button> -->
<div class="certificates">
  <img src="../static/images/l2.jpg" class="l2" id="img" alt="..." onclick="window.open('../static/images/l2.jpg', '_blank');" />
  <img src="../static/images/java_from_scratch_Page_1.jpg"  class="l2" id="img" alt="..." onclick="window.open('../static/images/java_from_scratch_Page_1.jpg', '_blank');" />
  <img src="../static/images/scrum.jpg"  class="l2" id="img" alt="..." onclick="window.open('../static/images/scrum.jpg', '_blank');" />

<!-- <img class="l2" src="../static/images/l2.jpg"  id="img" onclick="enlargeImg()">
<img class="l2" src="../static/images/java_from_scratch_Page_1.jpg"  id="img" onclick="enlargeImg()">
<img class="l2" src="../static/images/scrum.jpg"  id="img" onclick="enlargeImg()"> -->


</div>
<!-- <script>
    // Get the img object using its Id
    img = document.getElementById("img");
    // Function to increase image size
    function enlargeImg() {
      // Set image size to 1.5 times original
      img.style.transform = "scale(1.5)";
      // Animation effect 
      img.style.transition = "transform 0.25s ease";
    }
    // Function to reset image size
    function resetImg() {
      // Set image size to original
      img.style.transform = "scale(1)";
      img.style.transition = "transform 0.25s ease";
    }</script> -->
    
  
  

{% endblock %}
