{% extends 'base.html' %}

{% block title %}
Home

{% endblock %}

{% block content %}
<div class="container">
    <div class="text">
    <svg width="50%" height="50%">
        <text class="hello" x="50%" y="60%"  text-anchor="middle"  >
          Hello
        </text>
        </svg>
        </div>
<!-- <img class="self" src="../static/images/girl.png"> -->

<div class="Iam">My name is <span>Kasia Chromiec</span></div>
<div class="junior ">Junior Full Stack Developer</div>

<div class="about">I am highly motivated, responsible and committed newcomer to
    programming. I've spent the last seven months learning programming
    languages like Java, JavaScript and Python. I am a great team worker with
    excellent communication skills. I am distinguished by creativity
    and the ability to quickly solve problems. I approach my work with
    enthusiasm and passion.</div>
    <button class="cv" onclick="window.open('../static/images/CV.jpg', '_blank');">MY CV</button>
</div>

{% endblock %}