{% extends 'base.html' %}

{% block title %}
Home

{% endblock %}

{% block content %}
<div class="container">
    <div class="text1">
    <svg width="50%" height="50%">
        <text class="hello" id="hello_id" x="50%" y="60%"  text-anchor="middle"  >
          Hello 
        </text>
        </svg>
        </div>
<!-- <img class="self" src="../static/images/girl.png"> -->

<div class="Iam">My name is <span>Kasia Chromiec</span></div>
<div class="junior ">Junior Full Stack Developer</div>

<div class="about2">Creative Junior Software Developer working with JavaScript Python HTML CSS SQL.
    <button class="cv" onclick="window.open('../static/images/CV.jpg', '_blank');">MY CV</button></div>
  
</div>

{% endblock %}