{% extends 'base.html' %}

{% block title %}
About me

{% endblock %}

{% block content %}
<div class="container">
    <!-- <img class="self" src="../static/images/self.png"> -->
<div class="hello">Hi there,</div>
<img class="selfie" src="../static/images/self.png">
<div class="about">I'm starting Junior Developer. What I like in coding?Solving problems! Yeah for sure! Like to find diffrent ways to approch the problem..ups..there are no problems, there are solution wich need to discover. That's better.</div>

<div class="about"> I am a cheerful person full of energy and ideas. I like movement. I spend my free time actively, off-road cycling is it! I like new challenges!</div></div>


{% endblock %}