{% extends 'base.html' %}

{% block title %}
About me

{% endblock %}

{% block content %}
<div class="container">
    <!-- <img class="self" src="../static/images/self.png"> -->
    <div class="text2">
    <svg width="70%" height="70%">
        <text class="hello" x="50%" y="60%"  text-anchor="middle"  >
          Hi there
        </text>
        </svg></div>
        
<!-- <img class="selfie " src="../static/images/self.png"></div> -->

<div class="dev">I am a Junior Developer based in Stockport. I have a serious passion for coding. What do I like about it? Troubleshooting! Yes, for sure! Like to find different ways to approach the problem..ups..there are no problems, there are only solutions that need to be found. That's better.</div>


<div class="about"> I am well organized with great attention to detail.
  I am a cheerful person full of energy and ideas.
  Privately, a mother of two children. I spend my free time actively, and my greatest hobby is off-road biking.</div>
<div class="space"></div></div>






{% endblock %}