{% extends 'base.html' %}

{% block title %}
Projects

{% endblock %}

{% block content %}
<div class="wrapper">

<div class="project">JavaScript | React.js jsonwebtoken  express.js Bootstrap MongoDB <a class="code" href="https://github.com/kasiasaif/shoesstore-backend" target="_blank">code <</a></div>
<img class="shot" src="../static/images/shop.png">
<div class="project">JavaScript | React.js jsonwebtoken next.js express.js  MongoDB <a class="code" href="https://github.com/kasiasaif/BackInsta" target="_blank">code <</a></div>
<img  class="shot" src="../static/images/insta.jpg">
<div class="project">JavaScript | React.js <a class="code" href="https://kasiasaif.github.io/Dice-Game/" target="_blank">code <</a></div>
<img  class="shot" src="../static/images/dice.jpg">
<div class="project">JavaScript | React.js <a class="code" href="https://kasiasaif.github.io/DrumKit/" target="_blank">code <</a></div>
<img  class="shot" src="../static/images/drum.jpg">
<div class="project">JavaScript | React.js <a class="code" href="https://kasiasaif.github.io/Calculator/" target="_blank">code <</a></div>
<img  class="shot" src="../static/images/calculator.jpg">
<div class="project">JavaScript | React.js <a class="code" href="https://kasiasaif.github.io/Weather-app/" target="_blank">code <</a></div>
<img  class="shot" src="../static/images/weather.jpg">

</div>

{% endblock %}